:root {
  .headline1 {
    font-size: 96px;
  }
  .headline2 {
    font-size: 60px;
  }
  .headline3 {
    font-size: 48px;
  }
  .headline4 {
    font-size: 28px;
  }
  .h1 {
    font-size: 24px;
  }
  .h2 {
    font-size: 20px;
  }
  .h3 {
    font-size: 18px;
  }
  .h4 {
    font-size: 18px;
  }
  .p {
    font-size: 16px;
  }
  .button {
    font-size: 14px;
  }
  .small {
    font-size: 12px;
  }

  .strong {
    font-weight: bold;
  }
  .extraLight {
    font-weight: 200;
  }
  .light {
    font-weight: 300;
  }
  .regular {
    font-weight: 400;
  }
  .medium {
    font-weight: 500;
  }
  .semiBold {
    font-weight: 600;
  }
  .bold {
    font-weight: 700;
  }

  .italic {
    font-style: italic;
  }
}

/*
Use guide:
<p class="headline1 bold">Material Headline 1</p>
<p class="headline2 semiBold">Material Headline 2</p>
<p class="headline3 medium">Material Headline 3</p>
<p class="headline4 regular">Material Headline 4</p>
<h1 class="h1 light">Texto h1</h1>
<h2 class="h2 extraLight">Texto h2</h2>
<h3 class="h3 strong">Texto h3</h3>
<h4 class="h4 italic">Texto h4</h4>
<h5 class="h5">Texto h5</h5>
<h6 class="h6">Texto h6</h6>
<p class="p">Párrafo (texto normal)</p>
<p class="button">Texto button</p>
<p class="small">Texto small</p>
*/
