// General styles for fonts
:root {
  // Font Size
  .headline1 {
    font-size: 100px;
  }
  .headline2 {
    font-size: 60px;
  }
  .headline3 {
    font-size: 40px;
  }
  .headline4 {
    font-size: 30px;
  }
  .headline5 {
    font-size: 24px;
  }
  .headline6 {
    font-size: 22px;
  }
  .headline7 {
    font-size: 20px;
  }
  .headline8 {
    font-size: 18px;
  }
  .p {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .small {
    font-size: 14px;
  }

  // Font Weight
  .strong {
    font-weight: bold;
  }
  .thin {
    font-weight: 100;
  }
  .extraLight {
    font-weight: 200;
  }
  .light {
    font-weight: 300;
  }
  .regular {
    font-weight: 400;
  }
  .medium {
    font-weight: 500;
  }
  .semiBold {
    font-weight: 600;
  }
  .bold {
    font-weight: 700;
  }
  .extraBold {
    font-weight: 800;
  }
  .black {
    font-weight: 900;
  }

  // Font Style
  .italic {
    font-style: italic;
  }
}
