// General styles for fonts
:root {
  // Font Size
  .headline1 {
    font-size: 100px;
  }
  .headline2 {
    font-size: 60px;
  }
  .headline3 {
    font-size: 40px;
  }
  .headline4 {
    font-size: 30px;
  }
  .headline5 {
    font-size: 26px;
  }
  .headline6 {
    font-size: 24px;
  }
  .headline7 {
    font-size: 22px;
  }
  .headline8 {
    font-size: 20px;
  }
  .p {
    font-size: 18px;
  }
  .button {
    font-size: 18px;
  }
  .small {
    font-size: 14px;
  }

  // Font Weight
  .strong {
    font-weight: bold;
  }
  .light {
    font-weight: 300;
  }
  .regular {
    font-weight: 400;
  }
  .bold {
    font-weight: 700;
  }
  .black {
    font-weight: 900;
  }

  // Font Style
  .italic {
    font-style: italic;
  }
}
