// General styles for Scrollbar
* {
  scrollbar-color: var(--secondary) !important;
  scrollbar-track-color: var(--primary) !important;
  scrollbar-width: 15px !important;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.3rem;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}
