#header{
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  background-color: #a0ffff;
}

.titles{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
