// Header Component
#header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

// Titles
.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text);
}

// Logo
.logo {
  position: relative;
  width: 45px;
  padding-bottom: 4rem;
}
