<!-- Edit Mat Dialog Component -->
<div id="edit-mat-dialog">
  <!-- Container -->
  <div class="container">
    <!-- Form for edit -->
    <form [formGroup]="editForm">
      <!-- Title -->
      <mat-form-field class="titleDiv">
        <mat-label>Title</mat-label>
        <input
          matInput
          class="title"
          name="title"
          formControlName="title"
          type="text"
          required
        />
      </mat-form-field>
      <!-- Alerts -->
      <div class="alerts small regular">
        <!-- Alert Valid of Title -->
        <ng-container
          *ngIf="
            editForm.get('title')?.valid &&
            editForm.get('title')?.dirty &&
            editForm.get('title')?.value.length <= 80
          "
        >
          <div class="alert-correct">
            <p class="text-correct">Title is valid (1-80 characters)</p>
          </div>
        </ng-container>
        <!-- Alert Error of Title -->
        <ng-container
          *ngIf="
            (editForm.get('title')?.invalid &&
              editForm.get('title')?.dirty &&
              editForm.get('title')?.value.length > 80) ||
            (editForm.get('title')?.invalid && editForm.get('title')?.dirty)
          "
        >
          <div class="alert-error">
            <p class="text-error">Title is not valid (1-80 characters)</p>
          </div>
        </ng-container>
      </div>
      <!-- Description -->
      <mat-form-field class="descriptionDiv">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          class="description"
          name="description"
          formControlName="description"
          type="text"
          required
        ></textarea>
      </mat-form-field>
      <!-- Alerts -->
      <div class="alerts small regular">
        <!-- Alert Valid of Description -->
        <ng-container
          *ngIf="
            editForm.get('description')?.valid &&
            editForm.get('description')?.dirty &&
            editForm.get('description')?.value.length <= 1000
          "
        >
          <div class="alert-correct">
            <p class="text-correct">Description is valid (1-1000 characters)</p>
          </div>
        </ng-container>
        <!-- Alert Error of Description -->
        <ng-container
          *ngIf="
            (editForm.get('description')?.invalid &&
              editForm.get('description')?.dirty &&
              editForm.get('description')?.value.length > 1000) ||
            (editForm.get('description')?.invalid &&
              editForm.get('description')?.dirty)
          "
        >
          <div class="alert-error">
            <p class="text-error">
              Description is not valid (1-1000 characters)
            </p>
          </div>
        </ng-container>
      </div>
      <!-- Priority -->
      <mat-form-field class="priorityDiv">
        <mat-label>Priority</mat-label>
        <mat-select
          class="priority"
          name="priority"
          formControlName="priority"
          required
        >
          <mat-option value="Urgent">Urgent</mat-option>
          <mat-option value="Important">Important</mat-option>
          <mat-option value="Not important">Not important</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Alerts -->
      <div class="alerts small regular">
        <!-- Alert Valid of Priority -->
        <ng-container
          *ngIf="
            editForm.get('priority')?.valid && editForm.get('priority')?.dirty
          "
        >
          <div class="alert-correct">
            <p class="text-correct">Priority is valid</p>
          </div>
        </ng-container>
        <!-- Alert Error of Priority -->
        <ng-container
          *ngIf="
            editForm.get('priority')?.invalid && editForm.get('priority')?.dirty
          "
        >
          <div class="alert-error">
            <p class="text-error">Priority is not valid</p>
          </div>
        </ng-container>
      </div>
      <!-- Calendar (Dates) -->
      <mat-form-field class="calendarDiv" style="width: 600px">
        <mat-label>Start-Finish Dates</mat-label>
        <mat-date-range-input [rangePicker]="rangePicker">
          <input
            matStartDate
            class="calendarStart"
            type="text"
            name="calendarStart"
            formControlName="calendarStart"
            required
          />
          <input
            matEndDate
            class="calendarEnd"
            type="text"
            name="calendarEnd"
            formControlName="calendarEnd"
            required
          />
        </mat-date-range-input>
        <mat-datepicker-toggle
          Dates
          matIconSuffix
          [for]="rangePicker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker color="primary">
          <mat-date-range-picker-actions>
            <button class="submit" mat-raised-button matDateRangePickerApply>
              Apply
            </button>
            <button class="close" mat-button matDateRangePickerCancel>
              Cancel
            </button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
      <!-- Alerts -->
      <div class="alerts small regular">
        <!-- Alert Valid of CalendarStart -->
        <ng-container
          *ngIf="
            editForm.get('calendarStart')?.valid &&
            editForm.get('calendarStart')?.dirty
          "
        >
          <div class="alert-correct">
            <p class="text-correct">Start day is valid</p>
          </div>
        </ng-container>
        <!-- Alert Error of Calendar -->
        <ng-container
          *ngIf="
            editForm.get('calendarStart')?.invalid &&
            editForm.get('calendarStart')?.dirty
          "
        >
          <div class="alert-error">
            <p class="text-error">Start day not valid</p>
          </div>
        </ng-container>
        <!-- Alert Valid of CalendarEnd -->
        <ng-container
          *ngIf="
            editForm.get('calendarEnd')?.valid &&
            editForm.get('calendarEnd')?.dirty
          "
        >
          <div class="alert-correct">
            <p class="text-correct">End day is valid</p>
          </div>
        </ng-container>
        <!-- Alert Error of Calendar -->
        <ng-container
          *ngIf="
            editForm.get('calendarEnd')?.invalid &&
            editForm.get('calendarEnd')?.dirty
          "
        >
          <div class="alert-error">
            <p class="text-error">End day is not valid</p>
          </div>
        </ng-container>
      </div>
      <!-- Hour -->
      <mat-form-field class="hourDiv">
        <mat-label>Start Time</mat-label>
        <input
          matInput
          class="hour"
          type="time"
          name="hour"
          formControlName="hour"
          required
        />
      </mat-form-field>
      <!-- Alerts -->
      <div class="alerts small regular">
        <!-- Alert Valid of Hour -->
        <ng-container
          *ngIf="editForm.get('hour')?.valid && editForm.get('hour')?.dirty"
        >
          <div class="alert-correct">
            <p class="text-correct">Hour is valid</p>
          </div>
        </ng-container>
        <!-- Alert Error of Hour -->
        <ng-container
          *ngIf="editForm.get('hour')?.invalid && editForm.get('hour')?.dirty"
        >
          <div class="alert-error">
            <p class="text-error">Hour is not valid</p>
          </div>
        </ng-container>
      </div>
      <!-- Buttons -->
      <div class="buttons">
        <button
          class="submit"
          (click)="confirmEdit()"
          type="submit"
          [disabled]="editForm.invalid"
        >
          Save
        </button>
        <button class="close" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </div>
</div>
