// Edit Mat Dialog Component
* {
  font-family: inherit !important;
}

#edit-mat-dialog {
  cursor: default;
  background-color: var(--dialog);
}

p {
  color: var(--font2);
}

// Form
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.calendarDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1.45rem;
}

.hourDiv {
  padding-top: 2.1rem;
}

// Alerts
.alerts {
  display: block;
  position: relative;
  top: -1.1rem;
  width: 350px;
  height: 1.2rem;
  margin: 0rem 1rem;
  ng-container {
    height: 2rem;
    width: 100%;
    margin: 0.25rem 0rem;
    border: none;
  }
  .alert-error,
  .alert-correct {
    height: 32px;
    margin-bottom: 1px;
    .text-error {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 1rem;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
      color: white;
      background-color: var(--error);
    }
    .text-correct {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 1rem;
      width: 100%;
      height: 100%;
      color: white;
      border-radius: 0.5rem;
      background-color: var(--correct);
    }
  }
}

// Buttons
button {
  height: 2.2rem;
  padding: 0rem 0.7rem;
  margin: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
  &.submit {
    color: white;
    background-color: var(--primary);
    &:disabled {
      background-color: var(--delete);
    }
    &:hover {
      background-color: var(--submit);
    }
  }
  &.close {
    color: white;
    background-color: var(--delete);
    &:hover {
      background-color: var(--deleteHover);
    }
  }
}
