// Home
#home {
  position: relative;
  height: auto;
  width: 100%;
}

// Light & Dark modes
.modes {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70px;
  top: 36px;
  height: 3rem;
  width: 3rem;
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
  color: var(--primary);
  &:hover {
    color: #54a7ff;
    animation: rotate-center 0.3s linear forwards;
  }
}

// Animation for the button
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

// Small (767px - 576px)
@media screen and (max-width: 767px) {
  .modes {
    left: 10px;
    top: 10px;
    height: 2rem;
    width: 2rem;
    font-size: 2rem;
  }
}
