<!-- Home Component -->
<div id="home" [ngClass]="{ 'light-mode': !darkMode, 'dark-mode': darkMode }">
  <!-- Light & Dark modes -->
  <mat-icon class="modes" (click)="changeMode()" aria-label="Change mode"
    >change_circle</mat-icon
  >

  <!-- Header Component -->
  <app-header></app-header>

  <!-- Main Content -->
  <main>
    <!-- Sections: -->
    <!-- Add Component -->
    <app-add></app-add>

    <!-- Tasks Component -->
    <app-tasks></app-tasks>
  </main>

  <!-- Footer Component -->
  <app-footer></app-footer>
</div>
