<!-- Footer Component -->
<section id="footer">
  <!-- Container -->
  <div class="container">
    <!-- My-links -->
    <div class="my-links">
      <!-- Link -->
      <a
        class="link hvr-sweep-to-right"
        href="https://www.linkedin.com/in/dani-torres-413569b9/"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
        <div class="icon-shadow"></div>
        <p class="text p regular">My Linkedin profile</p>
      </a>
      <!-- Link -->
      <a
        class="link hvr-sweep-to-right"
        href="https://dribbble.com/danitorrescode"
        target="_blank"
      >
        <i class="fa-brands fa-square-dribbble"></i>
        <div class="icon-shadow"></div>
        <p class="text p regular">My Dribbble profile</p>
      </a>
    </div>
    <!-- Copy -->
    <div class="copy">
      <div class="date-box">
        <p class="date p regular">{{ "© 2023." + " " }}</p>
      </div>
      <div class="box hvr-sweep-to-right">
        <a
          class="link p regular"
          href="https://www.linkedin.com/in/dani-torres-413569b9/"
          target="_blank"
          >danitorrescode</a
        >
      </div>
    </div>
    <!-- Rights -->
    <div class="rights p regular">
      <p>All rights reserved.</p>
    </div>
  </div>
</section>
