// Footer
#footer {
  overflow-x: hidden;
}

// Container
.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

// My-links
.my-links {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  height: 4rem;
  margin-left: -7px;
  gap: 1rem;
  .link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem;
    transition: 0.15s;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--font);
    i {
      margin-bottom: 1px;
    }
  }
}

// Copy
.copy {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  height: 4rem;
  gap: 1rem;
  .date-box {
    padding: 0.6rem 0rem 0rem 0rem;
    color: var(--font);
  }
  .box {
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.15s;
    color: var(--font);
    .link {
      color: var(--font);
    }
  }
}

.hvr-sweep-to-right:hover:before {
  transform: scaleX(1);
}

// Rights
.rights {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  height: 4rem;
  p {
    cursor: default;
    color: var(--font);
  }
}

// ***Media Queries***

// Large (1199px - 992px)
@media screen and (max-width: 1199px) {
  .text,
  .date,
  .link,
  .rights {
    font-size: 16px;
  }

  .copy .date-box {
    padding: 0.55rem 0rem 0rem 0rem;
  }
}

// Medium (991px - 768px)
@media screen and (max-width: 991px) {
  .container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .my-links {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    gap: 1.5rem;
    margin-left: 0px;
    margin-bottom: 1rem;
  }

  .copy,
  .rights {
    padding-left: 8px;
  }
}
