<!-- Footer Component -->
<section id="footer">
  <!-- Container -->
  <div class="container">
    <!-- My-links -->
    <div class="my-links">
      <!-- Link -->
      <button mat-button>
        <a
          class="link"
          href="https://www.linkedin.com/in/dani-torres-413569b9/"
          target="_blank"
        >
          <div class="icon-shadow"></div>
          <p class="text p semiBold">My Linkedin profile</p>
        </a>
      </button>
      <!-- Link -->
      <button mat-button>
        <a
          class="link"
          href="https://dribbble.com/danitorrescode"
          target="_blank"
        >
          <div class="icon-shadow"></div>
          <p class="text p semiBold">My Dribbble profile</p>
        </a>
      </button>
    </div>
    <!-- Copy -->
    <div class="copy">
      <div class="date-box">
        <p class="date p semiBold">{{ "© 2023." + " " }}</p>
      </div>
      <div class="box">
        <button mat-button>
          <a
            class="link p semiBold"
            href="https://danitorres-code.web.app/"
            target="_blank"
            >Dani Torres Web</a
          >
        </button>
      </div>
    </div>
    <!-- Rights -->
    <div class="rights p semiBold">
      <p>All rights reserved.</p>
    </div>
  </div>
</section>
