// Tasks Component
#tasks {
  padding-bottom: 8rem;
  overflow-x: hidden;
}

// Tasks Div
.tasksDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

// Task Div
.taskDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  width: 415px;
  max-width: 100%;
  display: inline-block;
  vertical-align: top;
}

// List Title
.list-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--font);
  &.toDoTitle {
    background-color: var(--toDo);
  }
  &.inProgressTitle {
    background-color: var(--inProgress);
  }
  &.doneTitle {
    background-color: var(--done);
  }
}

// List
.list {
  display: block;
  min-height: 11rem;
  overflow: hidden;
  background: transparent;
}

// Task
.task {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  gap: 2px;
  cursor: move;
  color: var(--font);
  background: var(--background);
}

// Item Priority
.item-priority {
  position: relative;
  top: -1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  p {
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    color: white;
  }
}

.item-description {
  border-top: 1px solid var(--font);
  padding-top: 0.2rem;
  margin-top: 0.2rem;
}

// Buttons
.buttons {
  position: relative;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;

  button {
    width: 30px;
    height: 30px;
    transition: 0.3s;
    &.edit:hover {
      background-color: var(--submit);
    }
    &.delete:hover {
      background-color: var(--deleteHover);
    }
  }
}

// CDK Drag Styles
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
