<!-- Tasks Component -->
<div id="tasks">
  <!-- Container -->
  <div class="container">
    <!-- Tasks Div -->
    <div class="tasksDiv">
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- Title -->
        <div class="toDoTitle title">
          <h2 class="p black">To do</h2>
        </div>
        <!-- List -->
        <bs-sortable
          [(ngModel)]="toDo"
          fieldName="title"
          itemClass="sortable-item"
          itemActiveClass="sortable-item-active"
          placeholderItem="Drag here"
          placeholderClass="placeholderStyle text-center"
          wrapperClass="sortable-wrapper"
        ></bs-sortable>
      </div>
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- Title -->
        <div class="inProgressTitle title">
          <h2 class="p black">In progress</h2>
        </div>
        <!-- List -->
        <bs-sortable
          [(ngModel)]="inProgress"
          fieldName="title"
          itemClass="sortable-item"
          itemActiveClass="sortable-item-active"
          placeholderItem="Drag here"
          placeholderClass="placeholderStyle text-center"
          wrapperClass="sortable-wrapper"
        ></bs-sortable>
      </div>
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- Title -->
        <div class="doneTitle title">
          <h2 class="p black">Done</h2>
        </div>
        <!-- List -->
        <bs-sortable
          [(ngModel)]="done"
          fieldName="title"
          itemClass="sortable-item"
          itemActiveClass="sortable-item-active"
          placeholderItem="Drag here"
          placeholderClass="placeholderStyle text-center"
          wrapperClass="sortable-wrapper"
        ></bs-sortable>
      </div>
    </div>
  </div>
</div>
