<!-- Tasks Component -->
<div id="tasks">
  <!-- Container -->
  <div class="container">
    <!-- Tasks Div -->
    <div cdkDropListGroup class="tasksDiv">
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- List Title -->
        <div class="toDoTitle list-title">
          <h2 class="p black">To do</h2>
        </div>
        <!-- List To Do -->
        <div
          class="list"
          cdkDropList
          [cdkDropListData]="toDo"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Task -->
          <div
            class="task p regular"
            *ngFor="let item of toDo"
            cdkDrag
            (click)="openOrCloseDescription(item)"
            matTooltip="Drag & drop to sort your lists. Click to see/hide description."
          >
            <!-- Title -->
            <div class="item-title">
              <p>
                {{ item.title }}
              </p>
            </div>
            <!-- Priority -->
            <div class="item-priority">
              <p class="small bold" [style.background-color]="item.priority | priority">
                {{ item.priority }}
              </p>
            </div>
            <!-- Calendar -->
            <div class="item-calendar">
              <p>
                {{ item.calendarStart | date : "EE, MMM d 'of' y" }} -
                {{ item.calendarEnd | date : "EE, MMM d 'of' y" }}
              </p>
            </div>
            <!-- Hour -->
            <div class="item-hour">
              <p>
                {{ item.hour + "h" }}
              </p>
            </div>
            <!-- Description -->
            <ng-container *ngIf="item.showDescription">
              <div class="item-description">
                <p>
                  {{ item.description }}
                </p>
              </div>
            </ng-container>
            <!-- Edit Button -->
            <button class="edit" (mousedown)="editDialog(item)">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <!-- Delete Button -->
            <button class="delete" (mousedown)="deleteDialog(item)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- List Title -->
        <div class="inProgressTitle list-title">
          <h2 class="p black">In progress</h2>
        </div>
        <!-- List In Progress -->
        <div
          class="list"
          cdkDropList
          [cdkDropListData]="inProgress"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Task -->
          <div
            class="task"
            *ngFor="let item of inProgress"
            cdkDrag
            (click)="openOrCloseDescription(item)"
            matTooltip="Drag & drop to sort your lists. Click to see/hide description."
          >
            <!-- Title -->
            <div class="item-title">
              <p>
                {{ item.title }}
              </p>
            </div>
            <!-- Priority -->
            <div class="item-priority">
              <p class="small bold" [style.background-color]="item.priority | priority">
                {{ item.priority }}
              </p>
            </div>
            <!-- Calendar -->
            <div class="item-calendar">
              <p>
                {{ item.calendarStart | date : "EE, MMM d 'of' y" }} -
                {{ item.calendarEnd | date : "EE, MMM d 'of' y" }}
              </p>
            </div>
            <!-- Hour -->
            <div class="item-hour">
              <p>
                {{ item.hour + "h" }}
              </p>
            </div>
            <!-- Description -->
            <ng-container *ngIf="item.showDescription">
              <div class="item-description">
                <p>
                  {{ item.description }}
                </p>
              </div>
            </ng-container>
            <!-- Edit Button -->
            <button class="edit" (mousedown)="editDialog(item)">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <!-- Delete Button -->
            <button class="delete" (mousedown)="deleteDialog(item)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- List Title -->
        <div class="doneTitle list-title">
          <h2 class="p black">Done</h2>
        </div>
        <!-- List Done -->
        <div
          class="list"
          cdkDropList
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Task -->
          <div
            class="task"
            *ngFor="let item of done"
            cdkDrag
            (click)="openOrCloseDescription(item)"
            matTooltip="Drag & drop to sort your lists. Click to see/hide description."
          >
            <!-- Title -->
            <div class="item-title">
              <p>
                {{ item.title }}
              </p>
            </div>
            <!-- Priority -->
            <div class="item-priority">
              <p class="small bold" [style.background-color]="item.priority | priority">
                {{ item.priority }}
              </p>
            </div>
            <!-- Calendar -->
            <div class="item-calendar">
              <p>
                {{ item.calendarStart | date : "EE, MMM d 'of' y" }} -
                {{ item.calendarEnd | date : "EE, MMM d 'of' y" }}
              </p>
            </div>
            <!-- Hour -->
            <div class="item-hour">
              <p>
                {{ item.hour + "h" }}
              </p>
            </div>
            <!-- Description -->
            <ng-container *ngIf="item.showDescription">
              <div class="item-description">
                <p>
                  {{ item.description }}
                </p>
              </div>
            </ng-container>
            <!-- Edit Button -->
            <button class="edit" (mousedown)="editDialog(item)">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <!-- Delete Button -->
            <button class="delete" (mousedown)="deleteDialog(item)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
