<!-- Tasks Component -->
<div id="tasks">
  <!-- Container -->
  <div class="container">
    <!-- Tasks Div -->
    <div cdkDropListGroup class="tasksDiv">
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- Title -->
        <div class="toDoTitle title">
          <h2 class="p black">To do</h2>
        </div>
        <!-- List To Do -->
        <div
          class="list"
          cdkDropList
          [cdkDropListData]="toDo"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Task -->
          <div
            class="task"
            *ngFor="let item of toDo"
            cdkDrag
            (click)="openOrCloseDescription(item)"
            matTooltip="Drag & drop to sort your lists. Click to see/hide description."
          >
            <div>{{ item.title }}</div>
            <div>{{ item.priority }}</div>
            <div>
              {{ item.calendarStart | date : "EE, MMM d 'of' y" }} -
              {{ item.calendarEnd | date : "EE, MMM d 'of' y" }}
            </div>
            <div>{{ item.hour + "h" }}</div>
            <!-- Description -->
            <ng-container *ngIf="item.showDescription">
              <div>{{ item.description }}</div>
            </ng-container>
            <!-- Edit Button -->
            <button class="edit" (click)="editDialog(item)">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <!-- Delete Button -->
            <button class="delete" (click)="deleteDialog(item)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- Title -->
        <div class="inProgressTitle title">
          <h2 class="p black">In progress</h2>
        </div>
        <!-- List In Progress -->
        <div
          class="list"
          cdkDropList
          [cdkDropListData]="inProgress"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Task -->
          <div
            class="task"
            *ngFor="let item of inProgress"
            cdkDrag
            (click)="openOrCloseDescription(item)"
            matTooltip="Drag & drop to sort your lists. Click to see/hide description."
          >
            <div>{{ item.title }}</div>
            <div>{{ item.priority }}</div>
            <div>
              {{ item.calendarStart | date : "EE, MMM d 'of' y" }} -
              {{ item.calendarEnd | date : "EE, MMM d 'of' y" }}
            </div>
            <div>{{ item.hour + "h" }}</div>
            <!-- Description -->
            <ng-container *ngIf="item.showDescription">
              <div>{{ item.description }}</div>
            </ng-container>
            <!-- Edit Button -->
            <button class="edit" (click)="editDialog(item)">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <!-- Delete Button -->
            <button class="delete" (click)="deleteDialog(item)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Task Div -->
      <div class="taskDiv">
        <!-- Title -->
        <div class="doneTitle title">
          <h2 class="p black">Done</h2>
        </div>
        <!-- List Done -->
        <div
          class="list"
          cdkDropList
          [cdkDropListData]="done"
          (cdkDropListDropped)="drop($event)"
        >
          <!-- Task -->
          <div
            class="task"
            *ngFor="let item of done"
            cdkDrag
            (click)="openOrCloseDescription(item)"
            matTooltip="Drag & drop to sort your lists. Click to see/hide description."
          >
            <div>{{ item.title }}</div>
            <div>{{ item.priority }}</div>
            <div>
              {{ item.calendarStart | date : "EE, MMM d 'of' y" }} -
              {{ item.calendarEnd | date : "EE, MMM d 'of' y" }}
            </div>
            <div>{{ item.hour + "h" }}</div>
            <!-- Description -->
            <ng-container *ngIf="item.showDescription">
              <div>{{ item.description }}</div>
            </ng-container>
            <!-- Edit Button -->
            <button class="edit" (click)="editDialog(item)">
              <mat-icon class="mat-18">edit</mat-icon>
            </button>
            <!-- Delete Button -->
            <button class="delete" (click)="deleteDialog(item)">
              <mat-icon class="mat-18">delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
