// Deleted Mat Dialog Component
* {
  font-family: inherit !important;
}

#deleted-mat-dialog {
  padding: 1rem;
  cursor: default;
  background-color: var(--primary);
}

p {
  color: var(--font2);
}
