// Deleted Mat Dialog Component
* {
  font-family: inherit !important;
}

#deleted-mat-dialog {
  background-color: var(--dialog);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  padding: 1rem;
}

p {
  color: #141212;
}
