// Scroll to top Button
.scroll-to-top {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  border: none;
  width: 50px;
  height: 50px;
  bottom: 50px;
  right: 70px;
  z-index: 2;
  background: transparent;

  button {
    width: 50px;
    height: 50px;
    padding-top: 0.3rem;
    border: none;
    border-radius: 0.5rem;
    transition: 0.3s;
    background-color: var(--primary);
    mat-icon {
      display: initial;
      font-size: 2rem;
      color: white;
    }
    &:hover {
      background-color: var(--submit);
    }
  }
}

// Show-scrollTop
.show-scrollTop {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}
