// Delete Mat Dialog Component
* {
  font-family: inherit !important;
}

#delete-mat-dialog {
  padding: 1rem;
  cursor: default;
  background-color: var(--primary);
}

.title {
  padding-bottom: 0.5rem;
}

p {
  color: var(--font2);
}

// Buttons
button {
  height: 2.2rem;
  padding: 0rem 0.7rem;
  margin: 0.1rem;
  border: none;
  border-radius: 0.5rem;
  color: white;
  &.submit {
    background-color: var(--submit);
    &:disabled {
      background-color: var(--delete);
    }
    &:hover {
      background-color: #0069da;
    }
  }
  &.close {
    background-color: var(--delete);
    &:hover {
      background-color: #686868;
    }
  }
}
